<% if @provider&.errors&.any? %>
  <%= render partial: 'shared/errors', locals: { errors: @provider.errors } %>
<% end %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <%= form_for @provider, url: url, method: method do |f| %>
      <%= f.label :address, 'Адреса' %>
      <%= f.text_field :address, class: "form-control" %>

      <%= f.label :phone, 'Номер телефону' %>
      <%= f.text_field :phone, class: "form-control" %>
      <br/>
      <%= f.submit name, class: 'btn btn-default btn-success' %>
    <% end %>
  </div>
</div>
