<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Providers', providers_path %></li>
      <li><%= link_to 'Deliveries', deliveries_path %></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Availabilities', availabilities_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
    </ul>
  </div>
</nav>
