<nav class="navbar navbar-default">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><%= link_to 'Наявність', availabilities_path %></li>
      <li><%= link_to 'Постачальники', providers_path %></li>
      <li><%= link_to 'Поставки', deliveries_path %></li>
      <li><%= link_to 'Категорії', categories_path %></li>
      <li><%= link_to 'Продукти', products_path %></li>
    </ul>
  </div>
</nav>
