<h1 align="center">Додати поставку</h1>

<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <% if @delivery.errors.any? %>
      <%= render partial: 'shared/errors', locals: { errors: @delivery.errors } %>
    <% end %>
  </div>
  <div class="col-xs-4 col-xs-offset-4">
    <%= form_for @delivery do |f| %>
      <%= f.label :provider_id, 'Постачальник' %>
      <%= f.collection_select :provider_id, @providers.map  { |p| [p[:id], p[:address]] }, :first, :last, {}, class: 'form-control' %>

      <%= f.label :product_id, 'Назва товару' %>
      <%= f.collection_select :product_id, @products.map  { |p| [p[:id], p[:name]] }, :first, :last, {}, class: 'form-control' %>

      <%= f.label :price, 'Ціна закупки' %>
      <%= f.number_field :price, class: "form-control" %>

      <%= f.label :amount, 'Кількість' %>
      <%= f.number_field :amount, class: "form-control" %>

      <%= f.label :delivery_date, 'Дата поставки' %>
      <%= f.date_field :delivery_date, class: "form-control" %>

      <%= f.label :end_date, 'Кінцевий термін' %>
      <%= f.date_field :end_date, class: "form-control" %>
      <br/>
      <%= f.submit class: 'btn btn-default btn-success' %>
    <% end %>
  </div>
</div>
