<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <%= form_for @product, url: url, method: method do |f| %>
      <%= f.label :name, 'Назва' %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :category_id, 'Категорія' %>
      <%= f.collection_select :category_id, @categories.map  { |p| [p[:id], p[:name]] }, :first, :last, {}, class: 'form-control' %>
      <br/>
      <%= f.submit name, class: 'btn btn-default btn-success' %>
    <% end %>
  </div>
</div>
